.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  z-index: 1000;
}

.modal {
  background: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  padding: 20px 25px;
  position: relative;
  font-family: Arial, sans-serif;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.75px solid #666;
}

.modalHeader h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #0f1111;
}

.close {
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.subtitle {
  font-size: 13px;
  color: #333;
  margin: 10px 0 15px;
}

.signin {
  width: 100%;
  padding: 5px 0;
  background-color: #ffd814;
  border: 1px solid #ffd814;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  /* margin-bottom: 15px; */
}

.zipSection {
  text-align: center;
  margin-bottom: 15px;
}

.separator {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

.orText {
  font-size: 12px;
  color: #666;
  margin: 5px 0;
}

.zipInput {
  font-size: 12px;
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

.zipInput input {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.zipInput button {
  padding: 6px 20px;
  border: 1px solid #a88734;
  font-weight: 600;
  cursor: pointer;
  border-radius: 16px;
}

.countrySelect {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 15px;
}

.countrySelect:focus {
  outline: none;
  border-color: #a88734;
}

.done {
  width: 20%;
  right: 5;
  padding: 5px 15px;
  background-color: #ffd814;
  border: 1px solid #ffd814;
  cursor: pointer;
  border-radius: 25px;
}




