/* Product.module.css */
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* ProductCard.module.css */
.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  background: #fff;
  text-align: center;
  position: relative; /* Needed for absolute-positioned button */
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.image {
  width: 80%;
  height: 200px;
  object-fit: contain;
}

.info {
  margin-top: 10px;
}

.title {
  font-size: 15px;
  font-weight: 600;
  color: #111;
  text-align: left;
  text-decoration: none;
}

.ratingBox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  margin: 5px 0;
}

.reviewCount {
  font-size: 14px;
  color: #555;
}

.price {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}

/* Add to Cart button */
.button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  left: 3%;
  width: 90%;
  padding: 4px 8px;
  margin: 10px 0px;
  background-color: var(--primary-shade);
  border: none;
  border-radius: 30px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out, background 0.2s ease-in-out,
    transform 0.25s ease-in-out;
}

/* Show button when card is hovered */
.card:hover .button {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* slide into place */
}

/* Hover effect on the button itself */
.button:hover {
  background-color: var(--primary-shade);
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.status {
  padding: 30px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px;
}
